html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  font-family: 'Fira Code';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 30px;
}

.borders-container {
  width: 500px;
  margin-bottom: 30px;
}

.borders-container .border {
  /* background-color: #eee; */
  display: flex;
  justify-content: space-between;
}

.borders-container div:not(:last-child) {
  margin-bottom: 10px;
}

.preview {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.preview-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-right: 30px;
  background-color: rgb(255, 127, 127);
}

.preview-border span {
  font-size: 18px;
}

.css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 260px;
  height: 200px;
}

.css-borders {
  margin-left: 15px;
}
